# This workflow is used to deploy the server to Google Cloud Run
# Inspired by: https://github.com/google-github-actions/example-workflows/blob/main/workflows/deploy-cloudrun/cloudrun-docker.yml
name: Node.js Server CD

on:
  push:
    branches: [main]
    paths:
      - "server/nodejs/**"
      - ".github/workflows/cd-nodejs-server.yml"

  # Allow manual dispatch of the workflow
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  GAR_LOCATION: ${{vars.REGION}} # GAR = Google Artifact Registry
  REGION: ${{vars.REGION}}
  PROJECT_ID: ${{ vars.PROJECT_ID }}
  REPOSITORY: ${{ vars.REPOSITORY }}
  SERVICE: "embedded-demo-nodejs-server"
  GOOGLE_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_CREDENTIALS }}

jobs:
  deploy:
    permissions:
      contents: "read"
      id-token: "write"

    runs-on: blacksmith-4vcpu-ubuntu-2404
    defaults:
      run:
        working-directory: ./server/nodejs
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Instructions: https://github.com/google-github-actions/auth?tab=readme-ov-file#direct-wif
      - name: Google Auth
        id: auth
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GOOGLE_SERVICE_ACCOUNT_CREDENTIALS }}"
          token_format: "access_token"

      - name: Login to Google Artifact Registry (GAR)
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGION }}-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_CREDENTIALS }}

      - name: Build and Push Container
        run: |-
          docker build -t "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE }}:${{ github.sha }}" ./
          docker push "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE }}:${{ github.sha }}"

      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ env.SERVICE }}
          region: ${{ env.REGION }}
          image: ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE }}:${{ github.sha }}
          env_vars: |
            NODE_ENV=production
          flags: |
            --port=4003
            --max-instances=5
            --min-instances=1
            --concurrency=1000
            --timeout=300
            --execution-environment=gen2
            --allow-unauthenticated
            --remove-env-vars=ACCESS_CODE_CONFIGS,JWT_SECRET,COUNSEL_WEBHOOK_SECRET
            --set-secrets=ACCESS_CODE_CONFIGS=doppler-gsm-syncACCESS_CODE_CONFIGS:latest
            --set-secrets=JWT_SECRET=doppler-gsm-syncJWT_SECRET:latest
            --set-secrets=COUNSEL_WEBHOOK_SECRET=doppler-gsm-syncCOUNSEL_WEBHOOK_SECRET:latest

      - name: Show Output
        run: echo ${{ steps.deploy.outputs.url }}
