name: Next.js Web App CI
on:
  pull_request:
    branches: [main]
    paths:
      - 'web/nextjs/**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    defaults:
      run:
        working-directory: ./web/nextjs
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: useblacksmith/setup-node@v5
        with:
          node-version: "24.x"
          cache: "npm"
          cache-dependency-path: "web/nextjs/**/package-lock.json"
      
      - name: Install dependencies
        run: npm install
        
      - name: Create env file
        run: |
          touch .env
          echo IRON_SESSION_PASSWORD=test-password >> .env
          cat .env

      - name: Lint
        run: npm run lint
      
      # Handles type checking too
      - name: Build
        run: npm run build
